.App {
  text-align: center;
}

body {
  background: black
}

.storyWrapper {
  padding: 2% 20%
}


h1, h3, p {
  color: white
}

.carrotTopImageIntro {
  width: 80%;
}

.landingCarrotTopImage{
  width: 100%;
}

.landingWrapper{
 text-align: center;
}

.introWrapper{
 text-align: center;
}

.introTextWrapper {
  padding: 0 15%;
  height: 9rem;
}