.App {
  text-align: center;
}

body {
  background: black;
}

.storyWrapper {
  padding: 2% 20%
}

h1, h2, h3, h4, h5, p {
  color: white
}

.carrotTopImageIntroWraper {

}

.carrotTopImageIntro, .carrotTopImageHome {
  width: 500px;
  position: absolute;
  bottom: 0;
  left: 0
}

.landingCarrotTopImage{
  width: 300px;
}

.landingWrapper{
 text-align: center;
}

.introWrapper{
 text-align: center;
}

.introTextWrapper {

  /* border-radius: 5px;
  border-color: 'white' */
}

.continueButton {

}

.answerGridWrapper{
 display: grid;
column-gap: 0em;
 grid-template-columns: repeat(4, 1fr);
}

.headerWrapper{
   display: grid;
column-gap: 0em;
 grid-template-columns: 1fr 5fr;
 border-bottom: 3px solid white;
 text-align: center;
}

.headerColOne{
border-right: 5px double white;
}

.headerColTwo{
 text-align: center;
}

.homeWrapper{
 text-align: center;
 border: 5px double white;
width: 1000px;
height: 700px;
margin: 0 auto;
margin-top: 30px;
}

.statWrapper{
  height: 300px;
   display: grid;
column-gap: 0em;
 grid-template-columns: 300px 400px;
 border-bottom: 5px double white;
text-align: left;
padding-left: 20px;
}

.statColOne{
border-right: 5px double white;
}

.statColTwo{

}

.continueButtonWrapper{
 text-align: center;
 font-size: 30px;
  border: double white;
  width: 190px;
  height: 40px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 
}

.continueButtonText{
  margin-top: 0;
  margin-bottom: 0;
}
