.App {
  text-align: center;
}

body {
  background: black;
}

.storyWrapper {
  padding: 2% 20%
}

h1, h3, p {
  color: white
}

.carrotTopImageIntroWraper {

}

.carrotTopImageIntro, .carrotTopImageHome {
  width: 500px;
  position: absolute;
  bottom: 0;
  left: 0
}

.landingCarrotTopImage{
  width: 300px;
}

.landingWrapper{
 text-align: center;
}

.introWrapper{
 text-align: center;
}

.introTextWrapper {
  padding: 0 30px;
  height: 700px;
  /* border-radius: 5px;
  border-color: 'white' */
}

.continueButton {

}